@model ProjetoFinalHeloisa.Models.Estado

@{
    ViewData["Title"] = "Delete";
}

<h1>Apagar</h1>

<h3>Você tem certeza que deseja apagar este conteúdo?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoNome)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" class="button" value="Apagar" class="btn btn-danger" /> |
        <a asp-action="Index" class="linha">Voltar para a lista</a>
    </form>
</div>
